/* Margen de todo */
*{
    box-sizing: border-box;
    margin: 0;
}

/* Diseño Cuerpo */
body{
    font-family: "Roboto",sans-serif;
}

/* Diseño Container */
.container{
    max-width: 1400px;
}

/* Diseño Icono */
header{
    position: fixed;
    width: 100%;
   
    background-color: rgb(8, 8, 8);
}

header .container {
    display: flex;
    flex-direction: row;  /* Cambiado a row para alineación horizontal */
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;  /* Espacio entre el logo y el texto */
    padding: 10px 0;
   
}

.title h1{
    font-size: 2.4em;
    text-align: center;
    padding: 150px;
    color: blueviolet;
  

}

.parraf p{
    padding: 5vh;
    font-weight: bold;
    margin-top: -140px;
}
.color-acento{
    color: blueviolet;
}


.img-logo{
    height: 50px;
    width: 50px;
}

/* Diseño Logo */
header .logo{
    margin: 0;
    font-weight: bold;
    color: rgb(251, 250, 252);
    font-size: 1.5em;
}

footer .container{
    height: 100px;
    margin-bottom: 0px;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}

footer{
    background-color: rgb(255, 255, 255);
    padding: 10vh 30px;
    text-align: center;
    align-items: center;
    align-content: center;
}

footer a{
    text-decoration: none;
    color: black;
}

footer p{
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2px;
    color: black;
}
@media (min-width: 920px) {

    header{
        display: flex;
        position: fixed;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
        
    }
    header .container {
        display: flex;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    header .logo{
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    
    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        padding:  8vh;
        text-align: center;
        align-items: center;
        margin: 50px;
        margin-right: 5%;
        margin-left: 5%;
        align-content: center;
        
    }

    footer p{
        margin-right: 5%;
        margin-left: 5%;

    }

    footer .container{
        margin-right: 5%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     
    }
}